---
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.jsx";
import { Image } from "astro:assets";
interface Props {
  title: string;
  tech?: string[];
  imageGallery?: {
    src: ImageMetadata;
    alt: string;
  }[];
}
const { title, tech = [], imageGallery = [] } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title} | Drew Voss</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-nord-darkest text-nord-ice min-h-screen font-sans">
    <Navbar client:load />
    <main>
      <article>
        <header class="mb-12">
          <h1 class="text-4xl font-extrabold text-nord-snow mb-8">{title}</h1>
          {
            imageGallery.length > 0 && (
              <div class="grid grid-cols-1 md:grid-cols-4 md:grid-rows-3 gap-4 h-125">
                <div class="md:col-span-3 md:row-span-3 bg-nord-dark rounded-xl overflow-hidden border border-nord-border">
                  <Image
                    src={imageGallery[0].src}
                    alt={imageGallery[0].alt}
                    class="imageZoom w-full h-full object-contain p-4 cursor-pointer hover:scale-105 transition-transform duration-300 gallery-image"
                  />
                </div>

                <div class="md:col-span-1 md:row-span-1 bg-nord-dark rounded-xl overflow-hidden border border-nord-border">
                  <Image
                    src={imageGallery[1].src}
                    alt={imageGallery[1].alt}
                    class="imageZoom w-full h-full object-contain p-4 cursor-pointer hover:scale-105 transition-transform duration-300 gallery-image"
                  />
                </div>
                <div class="md:col-span-1 md:row-span-1 bg-nord-dark rounded-xl overflow-hidden border border-nord-border">
                  <Image
                    src={imageGallery[2].src}
                    alt={imageGallery[2].alt}
                    class="imageZoom w-full h-full object-contain p-4 cursor-pointer hover:scale-105 transition-transform duration-300 gallery-image"
                  />
                </div>
                <div class="md:col-span-1 md:row-span-1 bg-nord-dark rounded-xl overflow-hidden border border-nord-border">
                  <Image
                    src={imageGallery[3].src}
                    alt={imageGallery[3].alt}
                    class="imageZoom w-full h-full object-contain p-4 cursor-pointer hover:scale-105 transition-transform duration-300 gallery-image"
                  />
                </div>
              </div>
            )
          }
          <div class="flex flex-col gap-16 mt-16">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
              <section
                class="md:col-span-2 border border-nord-border rounded-xl p-6"
              >
                <h2
                  class="text-2xl font-bold text-nord-snow border-b border-nord-border/50 pb-2"
                >
                  Description
                </h2>
                <div
                  class="text-nord-ice leading-relaxed max-w-prose space-y-2"
                >
                  <slot name="description" />
                </div>
              </section>
              <aside
                class="md:col-span-1 bg-nord-dark p-6 rounded-xl border border-nord-border h-fit sticky top-8"
              >
                <h3
                  class="text-2xl font-bold text-nord-snow mb-4 border-b border-nord-border pb-2"
                >
                  Tech Stack
                </h3>
                <div class="flex flex-wrap gap-2">
                  {
                    tech.map((techItem) => (
                      <span class="px-3 py-1 bg-nord-darkest text-nord-frost text-sm font-semibold rounded-full border border-nord-border/50">
                        {techItem}
                      </span>
                    ))
                  }
                </div>
              </aside>
            </div>
          </div>
          <section
            class="bg-nord-dark/50 p-6 rounded-xl border border-nord-border mt-6"
          >
            <h2
              class="text-2xl font-bold text-nord-snow border-b border-nord-border/50 pb-2"
            >
              Challenges
            </h2>
            <div class="text-nord-ice leading-relaxed max-w-6xl space-y-4">
              <slot name="challenges" />
            </div>
          </section>
          <section
            class="bg-nord-dark/50 p-6 rounded-xl border border-nord-border mt-6"
          >
            <h2
              class="text-2xl font-bold text-nord-snow border-b border-nord-border/50 pb-2"
            >
              Planned Improvements
            </h2>
            <div class="text-nord-ice leading-relaxed max-w-6xl space-y-4">
              <slot name="improvements" />
            </div>
          </section>
        </header>
      </article>
      <div
        class="md: col-span-2 md:row-span-3 bg-nord-dark rounded-xl overflow-hidden border border-nord-border"
      >
      </div>
    </main>
    <Footer client:load />
  </body>
  <script>
    import mediumZoom from "medium-zoom";

    document.addEventListener("DOMContentLoaded", () => {
      mediumZoom(".imageZoom", {
        margin: 48,
        background: "#2e3440",
      });
    });
  </script>
</html>
